/node_modules/
/public/build/

.DS_Store
package-lock.json
yarn.lock
pnpm-lock.yaml


# All other files inside src folder are just built files
src/**/*.js

# Electron required 'esm' entry points
!src/**/*esm*.js

# SQLite databases are generated on first run
src/**/*.sqlite