/node_modules/
/public/build/

.DS_Store
package-lock.json
yarn.lock


# Electron required 'esm' entry points
!src/**/*esm*.js

# All other files inside src folder are just built files
src/**/*.js

# SQLite databases are generated on first run
src/**/*.sqlite