html, body {
	position: relative;
	width: 100%;
	height: 100%;
	background: rgb(239, 255, 246);
	background: linear-gradient(180deg, rgba(241, 248, 244, 1) 0%, rgba(240, 240, 240, 1) 24%, rgba(250, 250, 250, 1) 100%);
	--main-color: #1b8a86;
	--secondary-color: #581839;
	--text-on-secondary-color: white;
	--distress-color: #383d57;
	--main-bg-color: #fafafa;
	--error-color: #A10702;
	--success-color: #688E26;
	--idle-color: #7F95D1;
	--pending-color: #A5AE9E;
	min-width: 512px;
	--shadow-spread: 6px;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: 'TitiliumWeb', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0, 100, 200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0, 80, 160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.page {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 7px 15px;
	box-sizing: border-box;
}

.align-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.inline-align-center {
	height: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	vertical-align: text-top;
}

.clickable {
	cursor: pointer;
	transition: filter 0.4s, background-color 0.4s;
	filter: brightness(100%);
}

.clickable:hover {
	filter: brightness(90%);
}

.clickable:active {
	filter: brightness(80%);
}

.fx.upper-shadow {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: var(--shadow-spread);
	user-select: none;
}

.fx.bottom-shadow {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: var(--shadow-spread);
	user-select: none;
	transform: rotateX(180deg);
}

.input-container {
	position: relative;
	display: flex;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	height: 40px;
	padding: 0;
}

.input-container>label>*:not(:last-child) {
	border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.input-container input {
	position: relative;
	width: 100%;
	height: 40px;
	line-height: 40px;
	border: 0;
	background: 0;
	outline: 0;
}

.hljs {
	white-space: pre-line;
	overflow-x: auto;
}

/** --- Rich Text editor CSS Fixes ---**/

.ce-block__content, .ce-toolbar__content {
	max-width: 100%;
}

.ce-toolbar__plus {
	left: 4px;
}

.ce-toolbar__actions {
	right: 0px;
}

.ce-header {
	padding-bottom: 15px !important;
	padding-top: 5px !important;
}